* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  font-size: 20px;
}

.container {
  margin: auto;
  width: 450px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.display-panel {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  font-size: 24px;
  padding: 15px;
  margin: 0;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bottom-controls {
  display: flex;
  justify-content: space-between;
}

.controls-container {
  display: flex;
  gap: 5px;
}

.bottom-buttons {
  display: flex;
}

.operators {
  justify-content: flex-end;
}

.numbers,
.operators {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.button {
  font-size: inherit;
  width: calc(450px / 5);
  border-radius: 15px;
  text-align: center;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfdfdf;
  cursor: pointer;
}

.button_gray:hover {
  background-color: #e2e2e2;
}

.button_gray:active {
  background-color: #d4d4d4;
}

.button_black {
  color: #fff;
  background-color: #000;
}

.button_black:hover {
  background-color: #292929;
}

.button_black_active,
.button_black:active {
  background-color: #3d3d3d;
}

.button_orange {
  color: #fff;
  background-color: #fe5f1e;
}

.button_orange:hover {
  background-color: #ff5411;
}

.button_orange:active {
  background-color: #ff4800;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
